@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --light-blue: rgb(25, 134, 151);
    --light-black: rgb(20, 20, 20);
    --off-white: rgb(225, 225, 225);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: var(--off-white);
}

.header {
    width: 100%;
    background-color: var(--light-black);
    height: 100vh;
}

.sidenav {
    font-size: 20px;
    width: 250px;
    height: 100%;
    background: var(--light-blue);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links li a {
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.nav-links li a:hover {
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 0 10px var(--light-black);
    background-color: var(--off-white);
    color: var(--light-black);
    text-transform: uppercase;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}